.section_One {

  .line {
    border: 1px hsl(202, 6%, 74%) solid;
  }

  h2 {
    font-size: 2.2rem;
    margin-bottom: 0;
  }


  p {
    line-height: 1rem; 
  }
  
}


.section_Two {
 padding:  1.5rem;

  p {
    font-size: 1.1rem;
    line-height: 0.7rem;
    font-weight: 200;
  }

  .icon_Th {
    width: 10vw;
    .icon_Rate {
      width: 10vw;
    }
  }

  .size_Th {
    font-size: 0.8rem;
  }
}

  .quote {
    background-color: hsl(203, 14%, 32%);
    width: 100vw;
    margin-bottom: 4rem;
  }