* {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Ruluko;
}

body {
  background-color: hsl(0, 0%, 100%);
}

.menu {
  background-color: hsl(203, 14%, 32%);
  height: 5rem;
  display: flex;
  position: relative;
}

.icon_MenuVector {
  position:absolute;
  display: block;
  width: 3rem;
  margin-left: 3%;
  text-align: center;
  transform: translateY(25%);
}

.logo {
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 5rem;
  display: block;
  text-align: center;
}

.insta_Logo, .meta_Logo {
  position: absolute;
  display: block;
  width: 1.875rem; 
  right: 19%;
  transform: translateY(75%);
}

.meta_Logo {
  right: 9%;
  width: 1.975rem;
}

main {
  position: relative;
}

.img_backgroundIndex {
  height: 100vh;
  object-fit: cover;
}

.btn {
  color: hsl(0, 0%, 100%);
  background-color:hsl(203, 14%, 32%);
}

.title_Index, .subtitle_Index {

  width: 100vw; 
  top: 12vh; 
  color: #47555E; 
  font-size: 2.25rem; 
  font-weight: 600; 
  line-height: 36px; 
  word-wrap: break-word
  
}
  
.subtitle_Index {
  margin-top: 10vh;
  font-weight: 400;
  font-size: 1rem; 
}

.button_Section01 {
  width: 12rem; 
  margin-top: 20vh;
}

.quote {
  top: 85vh; 
  width: 75vw;
  color: hsl(0, 0%, 100%); 
  font-size: 1.25rem; 
  font-family: Cedarville Cursive; 
  font-weight: 500; 
}

.section_Two {

  .section_TwoBack {
    height: 65vh; 
    background: hsl(203, 14%, 32%)
  }

    .title_Section02 {
      margin-top: 7rem;
      font-size: 24px; 
      text-align: center; 
      color: hsl(0, 0%, 100%); 
      font-family: Ruluko; 
      font-weight: 400; 
    }

    .text_Section02 {
      width: 68vw;
      color: hsl(0, 0%, 100%); 
      font-weight: 400; 
      line-height: 20px;
      margin-top: 40vh;
    }
}

