* {
  margin: 0;
  padding: 0;
  font-family: Ruluko;

  p {
    margin: 0;
  }
}

body {
  background-color: hsl(0, 0%, 100%);
}

.menu {
  background-color: hsl(203, 14%, 32%);
  height: 5rem;
  display: flex;
  position: relative;
}

.icon_MenuVector {
  position:absolute;
  width: 3rem;
  margin-left: 3%;
  text-align: center;
  transform: translateY(25%);
}

.logo {
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 5rem;
  text-align: center;
}

.insta_Logo, .meta_Logo {
  position: absolute;
  width: 1.875rem; 
  right: 19%;
  transform: translateY(75%);
}

.meta_Logo {
  right: 9%;
  width: 1.975rem;
}

main {
  position: relative;
}

.btn {
  color: hsl(0, 0%, 100%);
  background-color:hsl(203, 14%, 32%);
  width: 12rem;
}

.quote {
  color: hsl(0, 0%, 100%); 
  font-size: 1.25rem; 
  font-family: Cedarville Cursive; 
  font-weight: 500; 
}

.section_One {
  background-image: url("../images/backgroundphoto_indexpage.jpg");
  background-size: cover;
  background-position: center;
  height: 90vh;
  padding: 4rem 0 2rem 0;
  
  .title_Index, .subtitle_Index {
    
    color: #47555E; 
    font-size: 2.25rem; 
    font-weight: 600; 
    line-height: 36px; 
    word-wrap: break-word;
    
  }
  
  .subtitle_Index {
    font-weight: 400;
    font-size: 1rem; 
  }
}

  .section_Two {
    
    .section_TwoBack {
      /* height: 65vh;  */
      background: hsl(203, 14%, 32%);
    }
    
    .title_Section02 {
      font-size: 24px; 
      color: hsl(0, 0%, 100%); 
      font-family: Ruluko; 
      font-weight: 400; 
      padding-top: 3rem;
    }
    
    .text_Section02 {
      color: hsl(0, 0%, 100%); 
      font-weight: 400; 
      line-height: 20px;
      padding: 4rem 2.5rem;
    }
}

.section_Three {
  background-color: hsl(30, 38%, 54%);

  .title_Section03 {
    color: hsl(0, 0%, 100%); 
    font-size: 20px; 
  }

  .galery {

    .img_Galery {
      width: 60vw;
      border-radius: 2.5rem;
    }

    .title_Galery {
      color: hsl(0, 0%, 100%);
      margin-top: 1rem;
    }

    .text_Galery {
      color: hsl(0, 0%, 100%);
    }

    .icon_Galery {
      margin-bottom: 3rem;
    }

    .icon_Galery03 {
      margin-bottom: 1rem;
    }
  }

  .quote_Section03 {
    background-color: hsl(203, 14%, 32%);
    width: 100vw;
    top: 150vh;
  }
}

